@model EntityLayer.Concrete.Writer


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/images/db2f2e3e-15df-4f80-82e6-1b142b2fa2b6.png" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@Model.WriterName</span>
                    <span class="text-secondary text-small">Yazar</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <span class="menu-title">Profilim</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" target="_blank" href="/blog/bloglistwithwriter">
                <span class="menu-title">Bloglarım</span>
                <i class="mdi mdi-charts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog/blogadd">
                <span class="menu-title">Yeni Blog</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/category/writercategorylist">
                <span class="menu-title">Kategoriler</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/category/categoryadd">
                <span class="menu-title">Yeni Kategori</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hesaplamaaraclari/yazarhesaplamaiceriklistesi">
                <span class="menu-title">Hesaplama Araçları İçerik</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hesaplamaaraclari/icerikekle">
                <span class="menu-title">Yeni Hesaplama Araçları İçerik</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/tag/index">
                <span class="menu-title">Taglar</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tag/tagadd">
                <span class="menu-title">Tag Ekle</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="index" asp-controller="blog">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <span class="menu-title">Ayarlar</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>


    </ul>
</nav>