.blog-title-area{
    margin-top:120px;
}
.table-lgs {
    margin-top: 10px;
    display: flex;
    gap: 300px;
}

.styled-table {
    border-collapse: collapse;
    margin: 15px;
    width:450px;
    font-size: 0.9em;
    font-family: Oswald;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .styled-table thead tr {
        background-color: #3E8DA8;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #3E8DA8;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

.yirmisoru_uyari,
.onsoru_uyari {
    color: red;
    font-size: 12px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    table tr {
        text-align: center;
        font-size: 13px;
    }

    tr {
        border: 1px solid #ccc;
        text-align: center;
    }

    #yirmisoru,
    #onsoru {
        width: 100%;
        margin-left: 4px;
    }
    .styled-table {
        border-collapse: collapse;
        margin: 0px;
        width: 100%;
    }
    .table-lgs {
        flex-direction: column;
        gap: 20px;
    }

    .col-sm-2 {
        margin-bottom: 20px;
    }
}
