@using EntityLayer.Concrete
@model List<BlogTags>
@{
    ViewData["Title"] = "BlogListWithWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yazarın blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Tag</th>
        <th>Blog Başlığı</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TagID</td>
            <td>@item.TagName</td>
            <td>@item.Blog.BlogTitle</td>
            <td><a onclick="showConfirmationModal('@item.TagID')" class="btn btn-danger">Sil</a></td>
        </tr>
    }

</table>
<!-- Silme Onay Kutusu Modalı -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Silme Onayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu blogu silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button id="deleteBlogLink" type="button" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>

<td><a asp-action="tagadd" asp-controller="tag" class="btn btn-primary">Yeni Tag Oluştur</a></td>

<script>
    function showConfirmationModal(tagId) {
        // Silme onay kutusunu göster
        $('#confirmDeleteModal').modal('show');

        // Silme bağlantısına dinamik olarak blog ID'sini ekleyin
        var deleteButton = document.getElementById("deleteBlogLink");
        deleteButton.onclick = function () {
            var deleteLink = "/tag/deletetag/" + tagId;
            window.location.href = deleteLink;
        };

        // Modal kapatma işlemini yeniden tanımla
        var modalCloseButton = document.querySelector("#confirmDeleteModal .modal-footer button[data-dismiss='modal']");
        modalCloseButton.onclick = function () {
            $('#confirmDeleteModal').modal('hide');
        };
    }
</script>